* {
  box-sizing:border-box;
}

body {
  margin:0 auto;
}

header {
  border:solid 1px;
  height:150px;
  text-align:center;
  font-family:serif;
  font-size:30px;
  padding-bottom:30px;
  background-color:#eaecef;
}

.container {
  margin:0 auto;
  width:400px;
}

ul {

}

input {
  width:75%;
}

.search {
  padding-top:60px;
  max-width: 960px;
  margin:0 auto;
}

.row {
  display:flex;
  margin: 25px 100px;
  width:75%;
}

.col_2_of_12 {
  flex:2;
}

.col_3_of_12 {
  flex:3;
}

button {
  width:100px;
  padding-top:4px;
  background-color:black;
  color:white;
}

.buttonRandom {
  background-color:teal;
}

.pick {
  color:blue;
}

.pick:hover {
  color:red;
  cursor:pointer;
}

img {
  max-width:300px;
  margin:0 auto;
}

.orange {
  background-color:orange;
  min-height:30px;
  min-width:200px;
}
